*
{
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
}

.header
{
    display: flex;
    justify-content: space-between;
    margin: 1rem 10rem;
}

.run
{
    width: 7rem;
    height: 3rem;
    background-color: rgb(204, 2, 255);
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
}

.run:hover
{
    background-color: rgb(224, 102, 255);
}

.editor
{
    margin: 1rem 10rem;   
}

.input-header
{
    margin: 2rem 10rem; 
    font-weight: bold;
}
.editor
{
    height: 50vh;
    margin: 0 10rem;

}

#input
{
    width: 83vw;
    height: 10rem;
    margin: 2rem 10rem;
    padding: 1.2rem;
}

.output-header
{
    margin: 2rem 10rem; 
    font-weight: bold;
}

.code_output
{
    margin: 2rem 10rem; 
    border: 2px solid black;  
    height: 20rem;
    font-size: 1.5rem;   
    padding: 1.2rem;
}